<div class="container mx-auto text-center mt-5">
  <h1 class="fw-bold">Short Url Converter</h1>
  <div class="col">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="w-25 p-5">
  </div>

  {{#if shortenedUrl}}
    <div>
      <p class="fs-4">轉換後的網址為:</p>
      <a href="{{shortenedUrl}}" target="_blank">
        <p id="url" class="fs-4">{{shortenedUrl}}</p>
      </a>
      <button id="btn-copy" class="btn btn-outline-primary" data-clipboard-target="#url">
        Copy!
      </button>
    </div>
  {{else if reqUrl}}
    <div>
      <p class="fs-4">找不到原始網址，請確認短網址有沒有輸入錯誤:</p>
      <p class="fs-4">{{reqUrl}}</p>
    </div>
  {{else}}
    <form action="/" method="POST">
      <div class="input-group mb-3">
        <input type="url" class="form-control fs-4" name="originalUrl" id="originalUrl" placeholder="請輸入要轉換的網址" required>
      </div>
      {{#if alertMessage}}
        <p class="fs-4 text-danger">{{alertMessage}}</p>
      {{/if}}
      <button type="submit" class="btn btn-outline-primary">產生短網址!</button>
    </form>
  {{/if}}

</div>